# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/sonarlint/issuestore/2/6/26db4bb12fa10322e120cad51057d486960f3b08
/.idea/sonarlint/issuestore/6/3/6387578148a058289f328a64a4fa2ac2afed009a
/.idea/sonarlint/issuestore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/9/2/923703ced91ac38943d37930d9d27a7ebe8f01ad
/.idea/sonarlint/issuestore/9/e/9e409f2df866d172e89768c8cac838c6f36806c3
/.idea/sonarlint/issuestore/a/a/aa7165aefcf8ee3d73539e99ab007daf1aa18d8d
/.idea/sonarlint/issuestore/f/9/f900edc44cb929c2267a16100a32851f6d5b477d
/.idea/sonarlint/issuestore/f/a/fa288d1472d29beccb489a676f68739ad365fc47
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/2/6/26db4bb12fa10322e120cad51057d486960f3b08
/.idea/sonarlint/securityhotspotstore/6/3/6387578148a058289f328a64a4fa2ac2afed009a
/.idea/sonarlint/securityhotspotstore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
/.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/securityhotspotstore/9/2/923703ced91ac38943d37930d9d27a7ebe8f01ad
/.idea/sonarlint/securityhotspotstore/9/e/9e409f2df866d172e89768c8cac838c6f36806c3
/.idea/sonarlint/securityhotspotstore/a/a/aa7165aefcf8ee3d73539e99ab007daf1aa18d8d
/.idea/sonarlint/securityhotspotstore/f/9/f900edc44cb929c2267a16100a32851f6d5b477d
/.idea/sonarlint/securityhotspotstore/f/a/fa288d1472d29beccb489a676f68739ad365fc47
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/.gitignore
/.idea/git_toolbox_prj.xml
/.idea/modules.xml
/.idea/react-interview-tasks.iml
/.idea/sonarlint.xml
/.idea/vcs.xml
