.App {
  text-align: center;
  display: flex;
  overflow: hidden;
}

button{
  background: #12959b;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 16px;
  border: 1px solid #12959b;
  cursor: pointer;
  margin: 4px;
}
button[disabled]{
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover{
  background: #fff;
  color: #12959b;
}

.addUser, .userTable{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.addUser::-webkit-scrollbar,
.userTable::-webkit-scrollbar {
  display: none;
}

.addUser{
  flex-grow: 1;
  min-width:400px;
  padding: 0 24px;
  background: #fff;
  box-shadow: -14px 8px 19px 0px #a7ada81c;
  transition: all .8s ease-in-out;

}
.userTable{
  flex-grow: 6;
  padding: 0 60px;
}
.hideUser{
  filter: blur(5px);
  cursor: pointer;
}
.hideUser section{
  pointer-events: none;
}

table{
  width: 100%;
  border-collapse: collapse;
}
table th{
  font-size: 13px;
  font-weight: 600;
  color: #9ba39b;
}
table th, table td {
  border: 1px solid #ddd;
}

table td{
  font-size: 13px;
  padding: 4px 8px;
}
table td button{
  background: transparent;
  border-radius:50px;
  color: #9ba39b;
  border: 1px solid #9ba39b;
  font-size: 12px;
  font-weight:600
}
.del_btn{
  color: #c53030;
}
