@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


input{
  border: 1px solid #ccc;
  padding: 4px 8px ;
  margin: 16px 8px;
  width: 240px;
}

button{
  background-color: #2d165b;
  padding: 6px 24px;
  border: solid 1px #2d165b;
  color: #fff;
  margin: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}
button:hover{
  background-color: #fff;
  color: #2d165b;
}
button:disabled{
  opacity: .75;
  cursor: not-allowed;
}
label{
  font-size: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
